body {
	display: grid;
	grid-template-columns: 20% repeat(3, 1fr) 20%;
	grid-template-rows: repeat(5, 20%);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0rem;
	border-style: solid;
	border-width: 1px;
}

.header,
.sidebar_left,
.center,
.sidebar_right,
footer {
	width: 100%;
	height: auto;
	justify-self: center;
	padding: inherit;
	border: inherit;
}

.header,
.footer {
	grid-column: 1 / 6;
}
.sidebar_left,
.center,
.sidebar_right {
	grid-row: 2 / 5;
}

.header {
	grid-row: 1 / 2;
}
.footer {
	grid-row: 5 / 6;
}
.center {
	grid-column: 2 / 5;
}
.sidebar_left {
	grid-column: 1 / 2;
}
.sidebar_right {
	grid-column: 5 / 6;
}
